# Ignore environment files
.env
*.env

# Python bytecode and cache folders
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# pytest cache
.pytest_cache/

# Optional: virtualenv folders
venv/
env/
ENV/
.venv/