# Cloud Django API URL (used for auth, node registration, stream registration, ICE server fetch)
# On host networking: use http://localhost:8000
# On cloud: use http://<SERVER_URL>:8000
DJANGO_URL=http://localhost:8000
NODE_BASE_URL=http://localhost
NODE_PORT=8001

#Local Redis Container
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
