# -------------------------------------------------------
# Common deps for weapon_detection (all runtimes)
# torch, torchvision, openvino are installed per-Dockerfile
# -------------------------------------------------------
fastapi==0.119.0
uvicorn==0.38.0
python-dotenv==1.1.1
redis==7.0.1
ultralytics==8.3.228
opencv-python-headless==4.9.0.80
numpy==1.26.4
PyTurboJPEG==1.8.3
